.add-row {
    margin-bottom: 10px;
}
.add-row label {
    display: block;
    margin-bottom: 5px;
}
.add-row input, .add-row select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}


.suggestion-box {
    position: absolute; /* Make sure it’s positioned below the input */
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px; /* Add a max height to avoid overflow */
    overflow-y: auto; /* Enable scroll if suggestions overflow */
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
